.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TopMed-logo{
  width: 51.68px;
  height: 13.5px;
  top: 417px;
  left: 494px;
}

.nextplus-logo{
  width: 35px;
  height: 24.84px;
  top: 410.16px;
  left: 704px;
}

.Usuario{
  width: 16px;
  height: 16px;
  top: 260px;
  left: 525px;
  padding: 2px;

}

.Senha{
  width: 12px;
  height: 16px;
  top: 298px;
  left: 527px;

  background: #0000005E;
}

.esqueceu-senha-texto {
  width: 102.5px;
  height: 10px;
  top: 378px;
  left: 569px;

  font-family: Comfortaa;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;

  color: #284F72;
}

.realizar-teste-texto {
  width: 67px;
  height: 13px;
  top: 349px;
  left: 834px;

  font-family: Alata;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

  color: #284F72;

}

.entrar-texto {
  width: 40.39px;
  height: 13.46px;
  top: 346px;
  left: 600px;


  font-family: Alata;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;


  color: #FFFFFF;
}

.usuario-texto {
  color: #7C7C7C;
  width: 42.15px;
  height: 17.44px;
  top: 260px;
  left: 548px;

  font-family: Alata;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  
}

.senha-texto {
  color: #7C7C7C;
  width: 33.43px;
  height: 17.44px;
  top: 298px;
  left: 548px;

  font-family: Alata;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.teste-acessos-texto {
  width: 167px;
  height: 27px;
  top: 217px;
  left: 790px;

  font-family: Alata;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  color:  #FFFFFFAD;
}

.faca-login-texto{
  position: absolute;
  width: 160px;
  height: 14.08px;
  top: 196.8px;
  left: 511px;

  font-family: Alata;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  color: #5C5959;
}

.teste-requisitos-texto{
  width: 85px;
  height: 38px;
  top: 168px;
  left: 789px;

  font-family: Almarai;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: #FFFBFB;
}

.bem-vindo-texto{
  position: absolute;
  width: 115.84px;
  height: 29.09px;
  top: 168px;
  left: 511px;

  font-family: Almarai;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;
}

.modal-container {
  display: flex;
}

.modal-verde{
  width: 204px;
  height: 332px;
  top: 121px;
  left: 764px;
  border-radius: 0px, 15px, 15px, 0px;

  box-shadow: 4px 0px 4px 0px #00000040 inset;

  background: #358C84FA;
}

.modal-branco{
  width: 497px;
  height: 332px;
  top: 121px;
  left: 470px;
  border-radius: 11.48px, 11.48px, 11.48px, 11.48px;

  box-shadow: 3.061890125274658px 3.061890125274658px 3.061890125274658px 3.061890125274658px #00000038;

  background: #FFFBFB;
}

.ondas{
  width: 126px;
  height: 27.53px;
  top: 280px;
  left: 790px;
}

.camera{
  width: 31px;
  height: 31px;
  top: 276px;
  left: 922px;

}

.Botao_teste {
  width: 132px;
  height: 27px;
  top: 344px;
  left: 802px;
  border-radius: 11.22px;
  
  color: #FFFBFB;

  box-shadow: 0px 2.2439024448394775px 2.2439024448394775px 0px #00000040;

}

.Botao_entrar {
  width: 132px;
  height: 27px;
  top: 340px;
  left: 554px;
  border-radius: 11.22px;

  background: #3E9F96;

  box-shadow: 0px 2.2439024448394775px 2.2439024448394775px 0px #00000040;

}

.line-4{
  width: 199px;
  height: 1px;
  top: 319px;
  left: 520px;
  border: 1px;
  background: #00000038;
  border: 1px solid #00000038;
  position: absolute;
}

.line-2{
  width: 199px;
  height: 1px;
  top: 279px;
  left: 520px;
  border: 1px;
  background: #00000038;
  border: 1px solid #00000038;
  position: absolute;
}


.App-header {
  background-color: #96ABBE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
