.Tela6-header {
    background-color: #96ABBE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container {
    display: flex;
}
  
.modal-branco{
    width: 284px;
    height: 339px;
    top: 61px;
    left: 578px;
    border-radius: 11.48px 11.48px 11.48px 11.48px;

    box-shadow: 3.061890125274658px 3.061890125274658px 3.061890125274658px 3.061890125274658px #00000038;
  
    background: #FFFBFB;
}

.redefinicao-texto{
    width: 300px;
    height: 26px;
    margin-top: 20px;
    margin-left: 45px;

    font-size: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}

.linha{
    width: 199px;
    top: 187px;
    margin-left: 45px;
    border: 1px;
    
    color: #00000038;

    border: 1px solid #00000038;
}

.texto-linha{
    width: 64px;
    height: 17px;
    top: 166px;
    margin-left: 40px;

    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    color: #7C7C7C;
}

.icone1{
    width: 22px;
    height: 16px;
    top: 166px;
    left: 627px;

    color: #0000005E;
}

.icone2{
    width: 14px;
    height: 14px;
    top: 211px;
    left: 626px;
}

.botao-redefinir{
    width: 132px;
    height: 27px;
    top: 261px;
    left: 658px;
    border-radius: 11.22px;

    background: #3E9F96;

    box-shadow: 0px 2.2439024448394775px 2.2439024448394775px 0px #00000040;
}

.texto-botao1{
    width: 81px;
    height: 13px;
    margin-top: 5px;
    margin-left: 15px;

    font-size: 10px;
    text-align: left;

    color: #FFFFFF;
}

.texto-botao2{
    width: 43px;
    height: 13px;
    margin-top: 5px;
    margin-left: 32px;

    font-size: 10px;
    letter-spacing: 0em;
    text-align: left;

    color: #264662;
}

.botao-cancelar{
    width: 132px;
    height: 27px;
    top: 298px;
    left: 658px;
    border-radius: 11.22px;
    border: 1px;

    background: linear-gradient(0deg, rgba(38, 70, 98, 0.72), rgba(38, 70, 98, 0.72)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    border: 1px solid #264662B8;
}


