.Tela2 {
    text-align: center;
  }
  
  .Tela2-header {
    background-color: #96ABBE;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-branco {
    width: 284px;
    height: 332px;
    top: 137px;
    left: 583px;
    border-radius: 11.48px 11.48px 11.48px 11.48px;
    background: #FFFBFB;
    box-shadow: 3.061890125274658px 3.061890125274658px 3.061890125274658px 3.061890125274658px #00000038;
  }
  
  .esqueceu-senha-texto {
    font-family: Almarai;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    position: inherit;

  }
  
  .informe-texto {
    font-family: Alata;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #5C5959;
  }
  
  .line-4 {
    width: 199px;
    border: 1px;
    color: #00000038;
    border: 1px solid #00000038;
  }
  
  .email {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .email-texto {
    width: 39px;
    height: 13px;
    color: #7C7C7C;
  }
  
  .botao-enviar {
    background-color: #3E9F96;
    border: none;
    margin-top: 20px;
    cursor: pointer;

    width: 132px;
    height: 27px;
    border-radius: 11.22px;

  }
  
  .enviar-texto {
    font-family: Alata;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #FFFFFF;
  }
  
  .TopMed-logo {
    margin-top: 20px;
    width: 51.68px;
    height: 13.5px;
    top: 433px;
    
  }
  
  .nextplus-logo {
    margin-top: 10px;
  }
  