.Tela3-header {
    background-color: #96ABBE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container {
    display: flex;
}

.modal-branco{
    width: 284px;
    height: 332px;
    top: 137px;
    left: 583px;
    border-radius: 11.48px 11.48px 11.48px 11.48px;
    box-shadow: 3.061890125274658px 3.061890125274658px 3.061890125274658px 3.061890125274658px #00000038;
    background: #FFFBFB;
}

.enviado-texto{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 450;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.verifique-texto{
    width: 205px;
    height: 43px;
    margin-top: -15px;
    margin-left: 30px;
    font-size: 10px;
    font-weight: 480;
    text-align: left;
  
    color: #5C5959;
}

.carta-imagem{
    width: 85px;
    height: 79px;
    margin-top: -5px;
    margin-left: 105px;
}

.botao-login{
    width: 121px;
    height: 23.85px;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 8.73px;

    background: #358C84FA;

    box-shadow: 0px 2.326923131942749px 2.326923131942749px 0px #00000040;

}

.login-texto{
    width: 27.92px;
    height: 13.38px;
    top: 373.33px;
    margin-left: 30px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF
}

.TopMed-logo{
    width: 51.68px;
    height: 13.5px;
    margin-top: 65px;
    margin-left: 15px;
}
  
  .nextplus-logo{
    width: 35px;
    height: 24.84px;
    margin-top: 55px;
    margin-left: 75px;
}