.Tela4 {
    text-align: center;
}
  
.TopMed-logo{
    width: 51.68px;
    height: 13.5px;
    margin-top: 60px;
    margin-left: 15px;
}
  
.nextplus-logo{
    width: 35px;
    height: 24.84px;
    margin-top: 55px;
    margin-right: 10px;
}

.modal-container {
    display: flex;
    position: relative;
}
  
.modal-verde{
    width: 204px;
    height: 406px;
    top: 121px;
    left: 268px;
    border-radius: 0px 15px 15px 0px;
  
    box-shadow: 4px 0px 4px 0px #00000040 inset;
  
    background: #358C84FA;
    position: relative;
}
  
.modal-branco{
    width: 498px;
    height: 406px;
    top: 121px;
    left: 470px;
    border-radius: 11.48px;
  
    box-shadow: 3.061890125274658px 3.061890125274658px 3.061890125274658px 3.061890125274658px #00000038;
  
    background: #FFFBFB;
    position: relative;
  }

.Tela4-header {
    background-color: #96ABBE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.teste-requisitos-texto{

    width: 208px;

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

.retangulo-vermelho {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 28px;
    left: 513px;
    border-radius: 2px;
    background: #E23A3A54;
}

.retangulo-vermelho2 {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 28px;
    top: 252px; /* Ajuste a posição vertical */
    left: 513px;
    border-radius: 2px;
    background: #E23A3A54;
}

.retangulo-vermelho3 {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 40px;
    border-radius: 2px;
    background: #E23A3A54;
}

.retangulo-verde {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 28px;
    top: 328px; /* Ajuste a posição vertical */
    left: 513px;
    border-radius: 2px;
    background: #3E9F9663;
}

.retangulo-verde2 {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 28px;
    top: 366px; /* Ajuste a posição vertical */
    left: 513px;
    border-radius: 2px;
    background: #3E9F9663;
}

.retangulo-verde3 {
    display: flex; /* Adiciona display flex para colocar os itens na mesma linha */
    align-items: center;
    width: 215px;
    height: 45px;
    top: 404px; /* Ajuste a posição vertical */
    left: 513px;
    border-radius: 2px;
    background: #3E9F9663;
}

.icone-vermelho {
    width: 15px;
    height: 15px;
    top: 217px; /* Ajuste a posição vertical para alinhar com o retângulo */


    color: #991616;
}


.icone-verde {
    width: 14.55px;
    height: 12px;
    top: 293px;
    color: #28625C;
}

.texto-vermelho {
    width: 310px;
    height: 13px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #991616;
}

.texto-verde{
    width: 205px;
    height: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
    color: #28625C;
}

.camera{
    width: 60px;
    height: 40px;
    margin-top: 90px;
    margin-left: 15px;

}

.camera-texto{
    width: 53px;
    height: 16px;
    color: #FFFBFB;
    font-size: 12px;
    font-weight: 400;
    margin-top: 100px;
}

.imagem{
    width: 180px;
    height: 109.3px;
    margin-top: 10px;
    margin-left: 20px;
    left: 783px;
}

.botao-concluido{
    width: 132px;
    height: 27px;
    margin-top: 10px;
    margin-left: 50px;
    left: 799px;
    border-radius: 11.22px;
    border: 1px;

    background: #FFFBFB;

    border: 1px solid #358C84;
    box-shadow: 0px 2.2439024448394775px 2.2439024448394775px 0px #00000040;

}

.botao-texto{
    width: 49px;
    height: 12px;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    color: #284F72;
}

/* Adicione o espaçamento vertical */
.retangulo-vermelho,
.retangulo-vermelho2,
.retangulo-vermelho3,
.retangulo-verde,
.retangulo-verde2,
.retangulo-verde3 {
    margin-top: 5px;
    margin-left: 45px;
}
